@model EmniyetPRojesi.Models.Yonetici

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Yonetici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPosta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPosta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.YoneticiID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
