@model IEnumerable<EmniyetPRojesi.Models.Yonetici>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyisim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPosta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Isim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soyisim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EPosta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.YoneticiID }) |
            @Html.ActionLink("Details", "Details", new { id=item.YoneticiID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.YoneticiID })
        </td>
    </tr>
}

</table>
