@model IEnumerable<EmniyetPRojesi.Models.Yonetici>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Yöneticiler</h4>
<hr />

<p>
    <div class="text-right mb-3">
    @Html.ActionLink("Yeni Yönetici Ekle", "Create", null, new { @class = "btn btn-info" })
        </div>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.TC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyisim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EPosta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.YoneticiID)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.TC)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isim)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyisim)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KullaniciAdi)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EPosta)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel)
                </td>
                <td class="text-right">
                    @Html.ActionLink("Edit", "Edit", new { id = item.YoneticiID }, new { @class = "btn btn-success btn-rounded btn-fw" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.YoneticiID }, new { @class = "btn btn-warning btn-rounded btn-fw" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.YoneticiID }, new { @class = "btn btn-danger btn-rounded btn-fw" })
                </td>
            </tr>
        }

    </table>
</div>








