@model IEnumerable<EmniyetPRojesi.Models.Icerik>

@{
    ViewBag.Title = "İçerikler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Yüklenen İçerikler</h2>
<p>
    <div class="text-right mb-3">
              @Html.ActionLink("Yeni İçerik Ekle", "Create", null, new { @class = "btn btn-info" })
        </div>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Birimler.BirimAdi)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Tur.TurAdi)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.QR)
                </th>

                <th>
                    Okunma Sayısı
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Yonetici.TC)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Birimler.BirimAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tur.TurAdi)
                </td>
                <td>
                    <img src="@item.QR" width="50" />
                </td>
               
                <td>
                    @item.Rapor.Count()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yonetici.AdSoyad)
                </td>
                <td class="text-right">
                    @Html.ActionLink("Edit", "Düzenleme", new { id = item.IcerikID }, new { @class = "btn btn-success btn-rounded btn-fw" }) 
                    @Html.ActionLink("Details", "Detay", new { id = item.IcerikID }, new { @class = "btn btn-warning btn-rounded btn-fw" }) 
                    @Html.ActionLink("Delete", "Sil", new { id = item.IcerikID }, new { @class = "btn btn-danger btn-rounded btn-fw" })  
                    @Html.ActionLink("Rapor", "Rapor", new { id = item.IcerikID }, new { @class = "btn btn-light btn-rounded btn-fw" })
                </td>
            </tr>
        }

    </table>
</div>




