@model IEnumerable<EmniyetPRojesi.Models.Tur>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TurAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TurAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TurID } , new { @class = "btn btn-success btn-rounded btn-fw" }) |
            @Html.ActionLink("Details", "Details", new { id=item.TurID }, new { @class = "btn btn-warning btn-rounded btn-fw" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TurID }, new { @class = "btn btn-danger btn-rounded btn-fw" })
        </td>
    </tr>
}

</table>
